apiVersion: v1
kind: ConfigMap
metadata:
  namespace: kcim
  name: jenkins-deployment-config
data:
  kong.yml: |-

    _format_version: "2.1"

    consumers:
      - username: kcc
        custom_id: kcc
      - username: imusr
        custom_id: iamusr

    basicauth_credentials:
      - consumer: kcc
        username: kcc
        password: "Kcc@123!"
      - consumer: iamusr
        username: iamusr
        password: "iamusr@123!"
        
    services: 
      - name: auth-service # auth service
        protocol: http
        host: auth-service.kcim-dev.svc.cluster.local
        port: 8080
        path: /api/auth
        routes:
          - paths:
              - /api/auth
            strip_path: true

      - name: authen-detail-service
        protocol: http
        host: auth-service.kcim-dev.svc.cluster.local
        port: 8080
        path: /api/auth-detail
        plugins:
        - name: custom-auth
          config:
            authVerifyTokenEndpoint: http://auth-service.kcim-dev.svc.cluster.local:8080/verifyToken
        routes:
          - paths:
              - /api/auth-detail
            strip_path: true

      - name: dropdown-service
        protocol: http
        host: kcim-service.kcim-dev.svc.cluster.local
        port: 8080
        path: /api/dropdown
        plugins:
        - name: custom-auth
          config:
            authVerifyTokenEndpoint: http://auth-service.kcim-dev.svc.cluster.local:8080/verifyToken
        routes:
          - paths:
              - /api/dropdown
            strip_path: true


      - name: kcim-service #kcim-service
        protocol: http
        host: kcim-service.kcim-dev.svc.cluster.local
        port: 8080
        path: /api/kcim-service
        plugins:
        - name: custom-auth
          config:
            authVerifyTokenEndpoint: http://auth-service.kcim-dev.svc.cluster.local:8080/verifyToken
        routes:
          - paths:
              - /api/kcim-service
            strip_path: true

      - name: kcim-menu-service
        protocol: http
        host: kcim-service.kcim-dev.svc.cluster.local
        port: 8080
        path: /api/cim-menu
        plugins:
        - name: custom-auth
          config:
            authVerifyTokenEndpoint: http://auth-service.kcim-dev.svc.cluster.local:8080/verifyToken
        routes:
          - paths:
              - /api/cim-menu
            strip_path: true

      - name: kcim-ws-provider
        protocol: http
        host: kcim-service.kcim-dev.svc.cluster.local
        port: 8080
        path: /api/ws
        plugins:
          - name: basic-auth
            config:
              hide_credentials: false
        routes:
          - paths:
              - /api/kcim-provider
            strip_path: true


      - name: transport-service # Transport
        protocol: http
        host: transport-service.kcim-dev.svc.cluster.local
        port: 8080
        path: /api/transport-service
        plugins:
        - name: custom-auth
          config:
            authVerifyTokenEndpoint: http://auth-service.kcim-dev.svc.cluster.local:8080/verifyToken
        routes:
          - paths:
              - /api/transport-service 
            strip_path: true

      - name: transport-menu-service
        protocol: http
        host: transport-service.kcim-dev.svc.cluster.local
        port: 8080
        path: /api/rtm-menu
        plugins:
        - name: custom-auth
          config:
            authVerifyTokenEndpoint: http://auth-service.kcim-dev.svc.cluster.local:8080/verifyToken
        routes:
          - paths:
              - /api/transport-menu
            strip_path: true

      - name: transport-dropdown-service
        protocol: http
        host: transport-service.kcim-dev.svc.cluster.local
        port: 8080
        path: /api/transport-dropdown
        plugins:
        - name: custom-auth
          config:
            authVerifyTokenEndpoint: http://auth-service.kcim-dev.svc.cluster.local:8080/verifyToken
        routes:
          - paths:
              - /api/transport-dropdown
            strip_path: true


      - name: ccms-menu-service # CCMS
        protocol: http
        host: ccms-service.kcim-dev.svc.cluster.local
        port: 8080
        path: /api/ccms-menu
        plugins:
        - name: custom-auth
          config:
            authVerifyTokenEndpoint: http://auth-service.kcim-dev.svc.cluster.local:8080/verifyToken
        routes:
          - paths:
              - /api/ccms-menu
            strip_path: true

      - name: ccms-service
        protocol: http
        host: ccms-service.kcim-dev.svc.cluster.local
        port: 8080
        path: /api/ccms-service
        plugins:
        - name: custom-auth
          config:
            authVerifyTokenEndpoint: http://auth-service.kcim-dev.svc.cluster.local:8080/verifyToken
        routes:
          - paths:
              - /api/ccms-service
            strip_path: true

      - name: dropdown-ccms-service
        protocol: http
        host: ccms-service.kcim-dev.svc.cluster.local
        port: 8080
        path: /api/ccms-dropdown
        plugins:
        - name: custom-auth
          config:
            authVerifyTokenEndpoint: http://auth-service.kcim-dev.svc.cluster.local:8080/verifyToken
        routes:
          - paths:
              - /api/ccms-dropdown
            strip_path: true


      - name: settlement-menu-service # Settlement
        protocol: http
        host: settlement-service.kcim-dev.svc.cluster.local
        port: 8080
        path: /api/settlement-menu
        plugins:
        - name: custom-auth
          config:
            authVerifyTokenEndpoint: http://auth-service.kcim-dev.svc.cluster.local:8080/verifyToken
        routes:
          - paths:
              - /api/settlement-menu
            strip_path: true

      - name: settlement-service
        protocol: http
        host: settlement-service.kcim-dev.svc.cluster.local
        port: 8080
        path: /api/settlement
        plugins:
        - name: custom-auth
          config:
            authVerifyTokenEndpoint: http://auth-service.kcim-dev.svc.cluster.local:8080/verifyToken
        routes:
          - paths:
              - /api/settlement
            strip_path: true

      - name: settlement-ws-provider
        protocol: http
        host: settlement-service.kcim-dev.svc.cluster.local
        port: 8080
        path: /api/settlementws
        routes:
          - paths:
              - /api/settlement-provider
            strip_path: true


      - name: admin-menu-service #Admin
        protocol: http
        host: admin-service.kcim-dev.svc.cluster.local
        port: 8080
        path: /api/admin-menu
        plugins:
        - name: custom-auth
          config:
            authVerifyTokenEndpoint: http://auth-service.kcim-dev.svc.cluster.local:8080/verifyToken
        routes:
          - paths:
              - /api/admin-menu
            strip_path: true

      - name: admin-service
        protocol: http
        host: admin-service.kcim-dev.svc.cluster.local
        port: 8080
        path: /api/admin-service
        plugins:
        - name: custom-auth
          config:
            authVerifyTokenEndpoint: http://auth-service.kcim-dev.svc.cluster.local:8080/verifyToken
        routes:
          - paths:
              - /api/admin-service
            strip_path: true

      - name: admin-dropdown
        protocol: http
        host: admin-service.kcim-dev.svc.cluster.local
        port: 8080
        path: /api/admin-dropdown
        plugins:
        - name: custom-auth
          config:
            authVerifyTokenEndpoint: http://auth-service.kcim-dev.svc.cluster.local:8080/verifyToken
        routes:
          - paths:
              - /api/admin-dropdown
            strip_path: true
            
      - name: iam-ws-provider
        protocol: http
        host: admin-service.kcim-dev.svc.cluster.local
        port: 8080
        path: /api/iam-service
        plugins:
          - name: basic-auth
            config:
              hide_credentials: false
        routes:
          - paths:
              - /api/iam-service
            strip_path: true
            
            
      - name: admin-health #Admin health
        protocol: http
        host: admin-service.kcim-dev.svc.cluster.local
        port: 8080
        path: /actuator
        routes:
          - paths:
              - /api/admin-health
            strip_path: true


      - name: report-service #Report
        protocol: http
        host: report-service.kcim-dev.svc.cluster.local
        port: 8080
        path: /api/report-service
        plugins:
        - name: custom-auth
          config:
            authVerifyTokenEndpoint: http://auth-service.kcim-dev.svc.cluster.local:8080/verifyToken
        routes:
          - paths:
              - /api/report-service
            strip_path: true


      - name: fee-menu #Fee
        protocol: http
        host: fee-service.kcim-dev.svc.cluster.local
        port: 8080
        path: /api/fee-menu
        plugins:
        - name: custom-auth
          config:
            authVerifyTokenEndpoint: http://auth-service.kcim-dev.svc.cluster.local:8080/verifyToken
        routes:
          - paths:
              - /api/fee-menu
            strip_path: true

      - name: fee-dropdown-service
        protocol: http
        host: fee-service.kcim-dev.svc.cluster.local
        port: 8080
        path: /api/fee-dropdown
        plugins:
        - name: custom-auth
          config:
            authVerifyTokenEndpoint: http://auth-service.kcim-dev.svc.cluster.local:8080/verifyToken
        routes:
          - paths:
              - /api/fee-dropdown
            strip_path: true

      - name: fee-service
        protocol: http
        host: fee-service.kcim-dev.svc.cluster.local
        port: 8080
        path: /api/fee-service
        plugins:
        - name: custom-auth
          config:
            authVerifyTokenEndpoint: http://auth-service.kcim-dev.svc.cluster.local:8080/verifyToken
        routes:
          - paths:
              - /api/fee-service
            strip_path: true


      - name: caps-service # Caps
        protocol: http
        host: kcim-service.kcim-dev.svc.cluster.local
        port: 8080
        path: /api/caps-service
        plugins:
        - name: custom-auth
          config:
            authVerifyTokenEndpoint: http://auth-service.kcim-dev.svc.cluster.local:8080/verifyToken
        routes:
          - paths:
              - /api/caps-service
            strip_path: true
            
      - name: fee-batch # Kcim Batch
        protocol: http
        host: kcim-batch.kcim-dev.svc.cluster.local
        port: 8080
        path: /api/fee-batch
        plugins:
        - name: custom-auth
          config:
            authVerifyTokenEndpoint: http://auth-service.kcim-dev.svc.cluster.local:8080/verifyToken
        routes:
          - paths:
              - /api/fee-batch
            strip_path: true
            
      - name: report33 # Kcim Batch
        protocol: http
        host: kcim-batch.kcim-dev.svc.cluster.local
        port: 8080
        path: /api/report33
        plugins:
        - name: custom-auth
          config:
            authVerifyTokenEndpoint: http://auth-service.kcim-dev.svc.cluster.local:8080/verifyToken
        routes:
          - paths:
              - /api/report33
            strip_path: true

