---
# ConfigMap: Kong configuration (DB-less mode)
apiVersion: v1
kind: ConfigMap
metadata:
  name: kong-api-gw-config
  namespace: kcim
data:
  kong.conf: |-
    database = off
    nginx_worker_processes = 1
    log_level = debug
    proxy_listen = 0.0.0.0:8000
    admin_listen = 0.0.0.0:8001
    ssl_cert_default =
    ssl_cert_key_default =

  kong.yml: |-
    _format_version: "3.0"

    consumers:
      - username: kcc
        custom_id: kcc
      - username: iamusr
        custom_id: iamusr

    basicauth_credentials:
      - consumer: kcc
        username: kcc
        password: "Kcc@123!"
      - consumer: iamusr
        username: iamusr
        password: "iamusr@123!"

    services:
      # ===== AUTH (9090) =====
      - name: auth-service
        protocol: http
        host: auth-service.kcim.svc.cluster.local
        port: 9090
        path: /api/auth
        routes:
          - name: auth-route
            paths:
              - /api/auth
            strip_path: true

      - name: authen-detail-service
        protocol: http
        host: auth-service.kcim.svc.cluster.local
        port: 9090
        path: /api/auth-detail
        plugins:
          - name: custom-auth
            config:
              authVerifyTokenEndpoint: http://auth-service.kcim.svc.cluster.local:9090/verifyToken
        routes:
          - name: auth-detail-route
            paths:
              - /api/auth-detail
            strip_path: true

      # ===== KCIM (9091) =====
      - name: dropdown-service
        protocol: http
        host: kcim-service.kcim.svc.cluster.local
        port: 9091
        path: /api/dropdown
        plugins:
          - name: custom-auth
            config:
              authVerifyTokenEndpoint: http://auth-service.kcim.svc.cluster.local:9090/verifyToken
        routes:
          - name: dropdown-route
            paths:
              - /api/dropdown
            strip_path: true

      - name: kcim-service
        protocol: http
        host: kcim-service.kcim.svc.cluster.local
        port: 9091
        path: /api/kcim-service
        plugins:
          - name: custom-auth
            config:
              authVerifyTokenEndpoint: http://auth-service.kcim.svc.cluster.local:9090/verifyToken
        routes:
          - name: kcim-service-route
            paths:
              - /api/kcim-service
            strip_path: true

      - name: kcim-menu-service
        protocol: http
        host: kcim-service.kcim.svc.cluster.local
        port: 9091
        path: /api/cim-menu
        plugins:
          - name: custom-auth
            config:
              authVerifyTokenEndpoint: http://auth-service.kcim.svc.cluster.local:9090/verifyToken
        routes:
          - name: kcim-menu-route
            paths:
              - /api/cim-menu
            strip_path: true

      - name: kcim-ws-provider
        protocol: http
        host: kcim-service.kcim.svc.cluster.local
        port: 9091
        path: /api/ws
        plugins:
          - name: basic-auth
            config:
              hide_credentials: false
        routes:
          - name: kcim-provider-route
            paths:
              - /api/kcim-provider
            strip_path: true

      # ===== TRANSPORT (9092) =====
      - name: transport-service
        protocol: http
        host: transport-service.kcim.svc.cluster.local
        port: 9092
        path: /api/transport-service
        plugins:
          - name: custom-auth
            config:
              authVerifyTokenEndpoint: http://auth-service.kcim.svc.cluster.local:9090/verifyToken
        routes:
          - name: transport-service-route
            paths:
              - /api/transport-service
            strip_path: true

      - name: transport-menu-service
        protocol: http
        host: transport-service.kcim.svc.cluster.local
        port: 9092
        path: /api/rtm-menu
        plugins:
          - name: custom-auth
            config:
              authVerifyTokenEndpoint: http://auth-service.kcim.svc.cluster.local:9090/verifyToken
        routes:
          - name: transport-menu-route
            paths:
              - /api/transport-menu
            strip_path: true

      - name: transport-dropdown-service
        protocol: http
        host: transport-service.kcim.svc.cluster.local
        port: 9092
        path: /api/transport-dropdown
        plugins:
          - name: custom-auth
            config:
              authVerifyTokenEndpoint: http://auth-service.kcim.svc.cluster.local:9090/verifyToken
        routes:
          - name: transport-dropdown-route
            paths:
              - /api/transport-dropdown
            strip_path: true

      # ===== CCMS (9093) =====
      - name: ccms-menu-service
        protocol: http
        host: ccms-service.kcim.svc.cluster.local
        port: 9093
        path: /api/ccms-menu
        plugins:
          - name: custom-auth
            config:
              authVerifyTokenEndpoint: http://auth-service.kcim.svc.cluster.local:9090/verifyToken
        routes:
          - name: ccms-menu-route
            paths:
              - /api/ccms-menu
            strip_path: true

      - name: ccms-service
        protocol: http
        host: ccms-service.kcim.svc.cluster.local
        port: 9093
        path: /api/ccms-service
        plugins:
          - name: custom-auth
            config:
              authVerifyTokenEndpoint: http://auth-service.kcim.svc.cluster.local:9090/verifyToken
        routes:
          - name: ccms-service-route
            paths:
              - /api/ccms-service
            strip_path: true

      - name: dropdown-ccms-service
        protocol: http
        host: ccms-service.kcim.svc.cluster.local
        port: 9093
        path: /api/ccms-dropdown
        plugins:
          - name: custom-auth
            config:
              authVerifyTokenEndpoint: http://auth-service.kcim.svc.cluster.local:9090/verifyToken
        routes:
          - name: ccms-dropdown-route
            paths:
              - /api/ccms-dropdown
            strip_path: true

      # ===== ADMIN (9095) =====
      - name: admin-menu-service
        protocol: http
        host: admin-service.kcim.svc.cluster.local
        port: 9095
        path: /api/admin-menu
        plugins:
          - name: custom-auth
            config:
              authVerifyTokenEndpoint: http://auth-service.kcim.svc.cluster.local:9090/verifyToken
        routes:
          - name: admin-menu-route
            paths:
              - /api/admin-menu
            strip_path: true

      - name: admin-service
        protocol: http
        host: admin-service.kcim.svc.cluster.local
        port: 9095
        path: /api/admin-service
        plugins:
          - name: custom-auth
            config:
              authVerifyTokenEndpoint: http://auth-service.kcim.svc.cluster.local:9090/verifyToken
        routes:
          - name: admin-service-route
            paths:
              - /api/admin-service
            strip_path: true

      - name: admin-dropdown
        protocol: http
        host: admin-service.kcim.svc.cluster.local
        port: 9095
        path: /api/admin-dropdown
        plugins:
          - name: custom-auth
            config:
              authVerifyTokenEndpoint: http://auth-service.kcim.svc.cluster.local:9090/verifyToken
        routes:
          - name: admin-dropdown-route
            paths:
              - /api/admin-dropdown
            strip_path: true

      - name: iam-ws-provider
        protocol: http
        host: admin-service.kcim.svc.cluster.local
        port: 9095
        path: /api/iam-service
        plugins:
          - name: basic-auth
            config:
              hide_credentials: false
        routes:
          - name: iam-service-route
            paths:
              - /api/iam-service
            strip_path: true

      - name: admin-health
        protocol: http
        host: admin-service.kcim.svc.cluster.local
        port: 9095
        path: /actuator
        routes:
          - name: admin-health-route
            paths:
              - /api/admin-health
            strip_path: true

