#service.yaml
apiVersion: v1
kind: Service
metadata:
  labels:
    app: kcim-service
  name: kcim-service
  namespace: kcim
spec:
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  selector:
    app: kcim-service
  type: ClusterIP
