# Service: expose Kong proxy & admin API
apiVersion: v1
kind: Service
metadata:
  name: kong-api-service
  namespace: kcim
  labels:
    app: kong-api-gw
spec:
  selector:
    app: kong-api-gw
  ports:
    - name: http
      protocol: TCP
      port: 8000
      targetPort: 8000
    - name: http-admin
      protocol: TCP
      port: 8001
      targetPort: 8001
